body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.b-legend {
    position: absolute;
    border: 1px solid #fffffe;
    background-color: #fffffd;
    width: 300px;
    position: absolute;
    top: 100px;
    right: 30px;
    padding: 10px;
}
.b-legend__items-term {
    width: 20px;
    vertical-align: top;
}

.b-legend__items-description {
}