body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100%;
    position: relative;
}



.b-legend {
    position: absolute;
    border-left: 1px solid #CACABC;
    background-color: #fffffd;
    width: 350px;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    padding: 10px;
    font-size: 13px;
}

.b-legend__items-term {
    width: 20px;
    padding-top: 8px;
    vertical-align: top;
}
.b-legend__header {
    font-weight: bold;
    font-size: 16px;
}
.b-legend__items-description {
    font-size: 12px;
}

.b-legend-mobile {
    display: none;
}

.b-legend__items-description {
}

.b-legend__slider {
    padding-top: 5px;
    padding-bottom: 10px;
}

.b-legend__download-block {
    padding-top: 5px;
    padding-bottom: 10px;
}

.b-legend__colors-description {
    position: relative;
    margin-left: 90px;
}
.b-legend__right-axis {
    font-size: 12px;
    text-align: right;
    position: absolute;
    width: 90px;
    left: -90px;
    top: 50px;
}
.b-legend__colors-image {
    margin-left: 10px;
    width: 130px;
    height: 130px;
}
.b-legend__top-color-label {
    font-size: 12px;
    position: absolute;
    left: 0px;
    top: -1px;
}
.b-legend__bottom-color-label {
    font-size: 12px;
    position: absolute;
    left: 0px;
    top: 114px;
}
.b-legend__left-color-label {
    font-size: 12px;
    position: absolute;
    left: 11px;
    top: 128px;
}
.b-legend__right-color-label {
    font-size: 12px;
    position: absolute;
    left: 120px;
    top: 128px;
}
.b-legend__bottom-axis {
    font-size: 12px;
    margin-top: 10px;
    display: block;
}

.b-legend__example-image {
    width: 35px;
    text-align: center;
    vertical-align: middle;
}
.b-legend__examples {
    margin-top: 5px;
    font-size: 12px;
}
.b-legend__example-description {
    padding-bottom: 5px;
}

@media (max-width: 767px) {
    .b-legend {
        display: none;
    }
    .b-legend__colors {
        padding: 0px 5px
    }
    .b-legend-mobile {
        display: block;
        position: absolute;
        bottom: 0px;
        width: 100%;
        border-top: 1px solid #CACABC;
        background-color: #fffffd;
    }
    .b-legend-mobile__header {
        font-weight: bold;
        padding: 0 5px;
        background-color: #F0F0DA;
        font-size: 13px;
        padding: 5px;
    }
    .b-legend__items {
        margin: 0 5px;
    }
    .b-legend-mobile, .b-legend-mobile p {
        font-size: 12px;
    }
    .b-legend__colors-image {
        width: 80px;
        height: 80px;
    }

    .b-legend__right-axis {
        left: -96px;
        top: 12px;
    }
    .b-legend__bottom-color-label {
        top: 65px;
    }

    .b-legend__bottom-color-label {
        top: -3px;
    }
    .b-legend__bottom-color-label {
        top: 65px;
    }
    .b-legend__left-color-label {
        top: 78px;
    }
    .b-legend__right-color-label {
        top: 78px;
        left: 68px;
    }
    .b-legend-mobile__content {
        padding: 5px;
    }
}

.b-legend__social-block {
    padding: 10px 5px;
}

.b-legend__colors-description {
}

table.legend {
    margin: 0 auto;
    width: 300px;
    color: #999;
}
table.legend a {
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px dashed #39F;
    color: #39F;
}
table.legend .current {
    color: black;
}
table.legend .current a {
    border-bottom: 0 none;
    cursor: default;
    color: black;
}
table.legend tr {
    height: 20px;
}
table.legend td {
    padding: 0;
    margin: 0;
}
table.legend td.info {
    font-size: 12px;
    text-align: center;
}
table.legend td.first {
    text-align: right;
    width: 160px;
}
table.legend td.square {
    font-size: 1px;
}
table.legend td.square div {
    margin: 0 auto;
    font-size: 1px;
    display: block;
    width: 16px;
    height: 16px;
}